<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/contato.css">
</head>
<body>
    <%- include('partials/header.ejs', { user: user }) %>
    <div class="content">
        <div class="alinha">
            <hr>
            <form method="POST" action="/admin/cadastro">
                <h1>Página de Cadastro</h1>
                <p>
                    <label for="nome">Seu nome</label>
                    <input value="<%= content.nome ? content.nome : '' %>" id="nome" name="nome"  type="text" placeholder="Nome" />
                </p>
                <p>
                    <label for="email">Seu e-mail</label>
                    <input value="<%= content.email ? content.email : '' %>" id="email" name="email"  type="email" placeholder="email@email.com" />
                    <span class="error" ><%= error.email ? error.email : '' %></span>
                </p>
                <p>
                    <label for="senha">Defina a sua senha</label>
                    <input id="senha" name="senha"  type="password" placeholder="1234" />
                    <span class="error"><%= error.senha ? error.senha : '' %><span>
                </p>
                <p>
                   <label for="confirmaSenha">Confirme a sua senha</label>
                   <input id="confirmaSenha" name="confirmaSenha"  type="password" placeholder="1234" />
                   <span class="error"><%= error.confirmaSenha ? error.confirmaSenha : '' %><span>
                </p>
                <p class="link">
                    Ja tem cadastro?
                    <a href="/admin/login">Ir para Login</a>
                </p>
                <div class="alinhar">
                    <p class="enviar">
                    <input type="submit" name="enviar" id="enviar" value="Cadastrar" />
                    </p> 
                    <p class="enviar">
                    <button><a href="/">Voltar</a></button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>